In [1]:
import pandas as pd
import sqlite3

In [8]:
con = sqlite3.connect("shop/test.db")
spec_df = pd.read_sql_query("SELECT * from specs", con)
spec_df

    id  category_id subcategory_id                 name
0    4            1           None          Regular fit
1    5            1           None        Banded collar
2    6            1           None          Half sleeve
3    7            1           None         Full Sleeves
4    9            1           None          100% Cotton
..  ..          ...            ...                  ...
68  78            3           None           100% jeans
69  79            3           None  Letter Recognitions
70  80            3           None       Letter Sounds
71  81            3           None             Spelling
72  82            3           None       Reading Skills

[73 rows x 4 columns]

In [11]:
specsvalues=pd.read_sql_query("SELECT * from specsvalues", con)
specsvalues

      id  product_id  category_id subcategory_id  spec_id value
0     15           4            1           None       10  True
1     17           4            1           None       14  True
2     19           5            1           None       16  True
3     20           5            1           None       17  True
4     21           5            1           None       18  True
..   ...         ...          ...            ...      ...   ...
99   118           2            1           None        7  True
100  119           2            1           None        9  True
101  120           3            1           None        7  True
102  121           3            1           None        9  True
103  122           3            1           None       10  True

[104 rows x 6 columns]

In [10]:
addproduct=pd.read_sql_query("SELECT * from addproduct", con)
addproduct.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,image_1,image_2,image_3
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,53a09ec68d5f5ab9627c.jpg,896324c13cde4988b3be.jpg,4537b9a61d8f4013fe9c.jpg
3,4,Wrangler Men's Relaxed Fit Jeans,1198,5,25,"Blue, Black",Wrangler is the everyday performance denim bra...,2020-07-08 16:02:12.713819,1,3,12,5a0acb1668f251563de0.jpg,7c21749eb23b984a2409.jpg,45c87ee10d8d3db36728.jpg
4,5,Casio G-Shock Analog-Digital Blue Dial Men's W...,6396,0,25,"Blue, Black",Mineral Glass Magnetic Resistant Shock Resista...,2020-07-08 16:05:11.097813,1,4,13,68618c07e20b3374a091.jpg,703665b9363046d63afa.jpg,e19c74bdbb6bbc914094.jpg

In [12]:
addproduct['product_id']=addproduct['id']
addproduct.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,image_1,image_2,image_3,product_id
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg,1
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg,2
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,53a09ec68d5f5ab9627c.jpg,896324c13cde4988b3be.jpg,4537b9a61d8f4013fe9c.jpg,3
3,4,Wrangler Men's Relaxed Fit Jeans,1198,5,25,"Blue, Black",Wrangler is the everyday performance denim bra...,2020-07-08 16:02:12.713819,1,3,12,5a0acb1668f251563de0.jpg,7c21749eb23b984a2409.jpg,45c87ee10d8d3db36728.jpg,4
4,5,Casio G-Shock Analog-Digital Blue Dial Men's W...,6396,0,25,"Blue, Black",Mineral Glass Magnetic Resistant Shock Resista...,2020-07-08 16:05:11.097813,1,4,13,68618c07e20b3374a091.jpg,703665b9363046d63afa.jpg,e19c74bdbb6bbc914094.jpg,5

In [14]:
df=pd.merge(addproduct, specsvalues, on='product_id')
df.head()

,id_x,name,price,discount,stock,colors,desc,pub_date,category_id_x,subcategory_id_x,brand_id,image_1,image_2,image_3,product_id,id_y,category_id_y,subcategory_id_y,spec_id,value
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg,1,114,1,None,4,True
1,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg,1,115,1,None,7,True
2,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg,1,116,1,None,9,True
3,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg,2,117,1,None,4,True
4,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg,2,118,1,None,7,True

In [15]:
s=df.groupby('id_x')['spec_id'].apply(list)

In [20]:
s=pd.DataFrame(s)

In [24]:
s['product_id']=s.index

In [35]:
#s.reset_index(level=0, inplace=True)
s.head()
#s=s.drop('',axis='columns')

   index  id_x                   spec_id  product_id
0      0     1                 [4, 7, 9]           1
1      1     2                 [4, 7, 9]           2
2      2     3                [7, 9, 10]           3
3      3     4                  [10, 14]           4
4      4     5  [16, 17, 18, 19, 20, 21]           5

In [36]:
pivot=s.pivot_table(index=['product_id'], columns=['spec_id'], aggfunc=[len], fill_value=0)

TypeError: unhashable type: 'list'

In [37]:
d=s['spec_id'].str.join('|').str.get_dummies()

AttributeError: Can only use .str accessor with string values!

In [59]:
d=df[['id_x','spec_id']]
#pd.get_dummies(df).groupby('').sum()
d

     id_x  spec_id
0       1        4
1       1        7
2       1        9
3       2        4
4       2        7
..    ...      ...
99     29       82
100    30       79
101    30       80
102    30       81
103    30       82

[104 rows x 2 columns]

In [60]:
d.groupby('id_x')['spec_id'].apply(list)

id_x
1                    [4, 7, 9]
2                    [4, 7, 9]
3                   [7, 9, 10]
4                     [10, 14]
5     [16, 17, 18, 19, 20, 21]
6             [18, 19, 20, 21]
7             [49, 50, 51, 53]
8         [26, 49, 55, 56, 57]
9         [22, 23, 24, 25, 26]
10                   [5, 6, 9]
11                    [28, 29]
12                [27, 28, 29]
13            [34, 35, 58, 59]
14            [60, 61, 62, 63]
15    [36, 37, 38, 39, 40, 41]
16                [64, 65, 66]
17        [67, 68, 69, 70, 71]
18        [72, 73, 74, 75, 76]
19        [72, 73, 74, 75, 76]
20                [43, 45, 74]
21                [43, 45, 74]
22                    [74, 77]
23                    [74, 77]
24                [73, 74, 78]
25                    [46, 47]
26                    [46, 47]
27                    [46, 47]
28                    [46, 47]
29            [79, 80, 81, 82]
30            [79, 80, 81, 82]
Name: spec_id, dtype: object

In [67]:
spec_str=[]
for i in s['spec_id']:
    spec_str.append(' '.join(map(str,i)))
spec_str
s['spec_str']=spec_str

In [69]:
d=s[['product_id','spec_str']]
d

    product_id           spec_str
0            1              4 7 9
1            2              4 7 9
2            3             7 9 10
3            4              10 14
4            5  16 17 18 19 20 21
5            6        18 19 20 21
6            7        49 50 51 53
7            8     26 49 55 56 57
8            9     22 23 24 25 26
9           10              5 6 9
10          11              28 29
11          12           27 28 29
12          13        34 35 58 59
13          14        60 61 62 63
14          15  36 37 38 39 40 41
15          16           64 65 66
16          17     67 68 69 70 71
17          18     72 73 74 75 76
18          19     72 73 74 75 76
19          20           43 45 74
20          21           43 45 74
21          22              74 77
22          23              74 77
23          24           73 74 78
24          25              46 47
25          26              46 47
26          27              46 47
27          28              46 47
28          29        79 80 81 82
29          30        79 80 81 82

In [72]:
cleaned = d.set_index('product_id').spec_str.str.split(' ', expand=True).stack()
cleaned

product_id
1           0     4
            1     7
            2     9
2           0     4
            1     7
                 ..
29          3    82
30          0    79
            1    80
            2    81
            3    82
Length: 104, dtype: object

In [76]:
pd.get_dummies(cleaned, prefix='g').groupby(level=0).sum()

,g_10,g_14,g_16,g_17,g_18,g_19,g_20,g_21,g_22,g_23,...,g_74,g_75,g_76,g_77,g_78,g_79,g_80,g_81,g_82,g_9
product_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,0