In [1]:
import pandas as pd
import sqlite3

In [2]:
con=sqlite3.connect('shop/test.db')

In [3]:
user_id=1
events=pd.read_sql_query("SELECT events.timestamp, events.customer_id, events.event, events.product_id, events.transaction_id, addproduct.category_id, addproduct.subcategory_id from events INNER JOIN addproduct where events.product_id=addproduct.id and events.customer_id="+str(user_id)+" ORDER BY timestamp DESC LIMIT 20",con)
events

,timestamp,customer_id,event,product_id,transaction_id,category_id,subcategory_id
0,2020-07-11 22:46:49.974970,1,view,3,None,1,2
1,2020-07-11 21:06:13.836660,1,view,31,None,1,2
2,2020-07-11 19:05:31.356049,1,view,28,None,3,16
3,2020-07-11 19:02:06.302649,1,view,28,None,3,16
4,2020-07-11 19:02:02.563804,1,view,28,None,3,16
5,2020-07-11 19:01:36.755019,1,view,28,None,3,16
6,2020-07-11 18:59:30.697067,1,view,28,None,3,16
7,2020-07-11 18:59:20.696601,1,view,29,None,3,30
8,2020-07-11 18:58:10.164791,1,view,32,None,1,2
9,2020-07-11 18:58:04.268798,1,view,31,None,1,2
10,2020-07-11 18:57:26.058892,1,view,31,None,1,2
11,2020-07-11 18:55:39.712144,1,view,31,None,1,2
12,2020-07-11 18:54:25.617150,1,view,32,None,1,2
13,2020-07-11 18:54:16.922227,1,view,32,None,1,2
14,2020-07-11 18:54:13.337959,1,view,32,None,1,2
15,2020-07-11 18:54:02.253630,1,view,32,None,1,2
16,2020-07-11 18:53:16.428651,1,view,32,None,1,2
17,2020-07-11 18:52:44.831635,1,view,32,None,1,2
18,2020-07-11 18:51:54.493760,1,view,32,None,1,2
19,2020-07-11 18:51:48.601246,1,view,32,None,1,2

In [5]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
timestamp         20 non-null object
customer_id       20 non-null int64
event             20 non-null object
product_id        20 non-null int64
transaction_id    0 non-null object
category_id       20 non-null int64
subcategory_id    20 non-null int64
dtypes: int64(4), object(3)
memory usage: 1.2+ KB

In [6]:
events.describe()

       customer_id  product_id  category_id  subcategory_id
count         20.0   20.000000    20.000000       20.000000
mean           1.0   29.200000     1.600000        6.900000
std            0.0    6.395722     0.940325        8.220001
min            1.0    3.000000     1.000000        2.000000
25%            1.0   28.000000     1.000000        2.000000
50%            1.0   31.000000     1.000000        2.000000
75%            1.0   32.000000     3.000000       16.000000
max            1.0   32.000000     3.000000       30.000000

In [7]:
events['product_id'].value_counts()

32    9
28    5
31    4
29    1
3     1
Name: product_id, dtype: int64

In [8]:
events['category_id'].value_counts()

1    14
3     6
Name: category_id, dtype: int64

In [9]:
events['subcategory_id'].value_counts()

2     14
16     5
30     1
Name: subcategory_id, dtype: int64

In [10]:
from shop.products.recommender import content_based_filtering

In [11]:
content_based_filtering(events['product_id'].value_counts().index[0])

product_id
32    6.0
31    4.0
33    2.0
10    2.0
3     2.0
2     2.0
1     2.0
dtype: float64

In [12]:
def most_viewed(user_id):
    events=pd.read_sql_query("SELECT events.timestamp, events.customer_id, events.event, events.product_id, events.transaction_id, addproduct.category_id, addproduct.subcategory_id from events INNER JOIN addproduct where events.product_id=addproduct.id and events.customer_id="+str(user_id)+" ORDER BY timestamp DESC LIMIT 20",con)
    items=events['product_id'].value_counts()
    most_viewed_items=items[items>3].index
    most_viewed_subcategory=events['subcategory_id'].value_counts().index
    if len(most_viewed_subcategory)>5:
        most_viewed_subcategories=most_viewed_subcategory[:5]
    most_viewed_category=events['category_id'].value_counts().index[0]
    #print(most_viewed_items,most_viewed_subcategory,most_viewed_category)
    return most_viewed_items,most_viewed_subcategory,most_viewed_category
most_viewed(1)

(Int64Index([32, 28, 31], dtype='int64'),
 Int64Index([2, 16, 30], dtype='int64'),
 1)

In [13]:
def recommended_items_by_itemviewed(items):
    rec_list=set()
    for item in items:
        rec_list.update(content_based_filtering(item).index)
    return rec_list
recommended_items_by_itemviewed(most_viewed(1)[0])

{1, 2, 3, 10, 25, 26, 27, 28, 31, 32, 33}

In [14]:
def

SyntaxError: invalid syntax (<ipython-input-14-23a6bbaf1b39>, line 2)

In [15]:
def Top_Categories():
    events=pd.read_sql_query("SELECT * from events",con)
    return events
Top_Categories()

,id,timestamp,customer_id,event,product_id,transaction_id
0,1,2020-07-11 18:02:10.719900,1,view,32,None
1,2,2020-07-11 18:02:38.403673,1,view,31,None
2,3,2020-07-11 18:03:38.818565,1,view,31,None
3,4,2020-07-11 18:04:47.956726,1,view,32,None
4,5,2020-07-11 18:06:42.270495,1,view,32,None
5,6,2020-07-11 18:08:08.907767,1,view,32,None
6,7,2020-07-11 18:08:51.399283,1,view,32,None
7,8,2020-07-11 18:09:47.779528,1,view,32,None
8,9,2020-07-11 18:13:06.383390,1,view,32,None
9,10,2020-07-11 18:14:04.277303,1,view,33,None
10,11,2020-07-11 18:14:51.261579,1,view,29,None
11,12,2020-07-11 18:16:02.240621,1,view,28,None
12,13,2020-07-11 18:24:51.163360,1,view,32,None
13,14,2020-07-11 18:36:10.350718,1,view,32,None
14,15,2020-07-11 18:44:29.187408,1,view,32,None
15,16,2020-07-11 18:48:39.520933,1,view,32,None
16,17,2020-07-11 18:49:20.570743,1,view,32,None
17,18,2020-07-11 18:50:15.228267,1,view,32,None
18,19,2020-07-11 18:51:18.261211,1,view,32,None
19,20,2020-07-11 18:51:48.601246,1,view,32,None
20,21,2020-07-11 18:51:54.493760,1,view,32,None
21,22,2020-07-11 18:52:44.831635,1,view,32,None
22,23,2020-07-11 18:53:16.428651,1,view,32,None
23,24,2020-07-11 18:54:02.253630,1,view,32,None
24,25,2020-07-11 18:54:13.337959,1,view,32,None
25,26,2020-07-11 18:54:16.922227,1,view,32,None
26,27,2020-07-11 18:54:25.617150,1,view,32,None
27,28,2020-07-11 18:55:39.712144,1,view,31,None
28,29,2020-07-11 18:57:26.058892,1,view,31,None
29,30,2020-07-11 18:58:04.268798,1,view,31,None
30,31,2020-07-11 18:58:10.164791,1,view,32,None
31,32,2020-07-11 18:59:20.696601,1,view,29,None
32,33,2020-07-11 18:59:30.697067,1,view,28,None
33,34,2020-07-11 19:01:36.755019,1,view,28,None
34,35,2020-07-11 19:02:02.563804,1,view,28,None
35,36,2020-07-11 19:02:06.302649,1,view,28,None
36,37,2020-07-11 19:05:31.356049,1,view,28,None
37,38,2020-07-11 21:06:13.836660,1,view,31,None
38,39,2020-07-11 22:46:49.974970,1,view,3,None